.btn {
  border-radius: 10px;
  background-color: var(--main-white);
  color: var(--main-color);
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.btn-blue {
  background-color: var(--main-color);
  color: var(--main-white);
  font-weight: normal;
}

.btn-mt {
  margin-top: 20px;
}

@media only screen and (max-width: 568px) {
  .btn {
    padding: 8px 35px;
  }
}
